body {
  margin: 0;
  background-color: lightblue;
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: lightpink;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  
  position: relative;
}

nav a {
    color: blueviolet;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:black
}

nav a:before {
    content: "";
    display: block;
    height: 5px;
    width:100%;
    background-color: orange;

    position:absolute;
    top:0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
width: 100%;
}